<div style="background-color:rgb(44, 62, 80); color:white; text-align:center; margin-left:-3000px; margin-right:-3000px;">
	<br/>
	<br/>
	<h1>SHOUTBOX</h1>
	<h2>
		--- <img src="ShoutBox128.png"> ---<br/>
		Tweet. Faster.
	</h2>
	<br/>
	<br/>
</div>

<div style="color:rgb(44, 62, 80); text-align:center; margin-left:-3000px; margin-right:-3000px;">
	<br/><br/>
	<h2>
		USERNAME:<br/>
		<%= user.username %>
	</h2>
	<br/><br/>
</div>

<div style="background-color:rgb(44, 62, 80); color:white; text-align:center; margin-left:-3000px; margin-right:-3000px;">
	<br/><br/>
	<h2>
		NAME:<%= user.displayName %>
		Pooooop
	</h2>
	<br/><br/>
</div>

<div style="background-color:white; text-align:center; margin-left:-3000px; margin-right:-3000px;">
	<br/><br/>
	<h2>
		PHOTO:<br/>
		<%= user.photos[0].value %>
	</h2>
	<br/><br/>
</div>